*.v2
*.vsidx
*.bin
EventPlanner/Eventplanner/Eventplanner.Test/
EventPlanner/Eventplanner/Eventplanner/bin/Debug
EventPlanner/Eventplanner/Eventplanner/UI/App.config
EventPlanner/Eventplanner/.vs/Eventplanner/v17/HierarchyCache.v1.txt
EventPlanner/Eventplanner/.vs/Eventplanner/v17/DocumentLayout.json
EventPlanner/Eventplanner/.vs/Eventplanner/v17/.suo
EventPlanner/Eventplanner/Eventplanner/.vs/Eventplanner.csproj.dtbcache.json
EventPlanner/Eventplanner/Eventplanner/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
EventPlanner/Eventplanner/Eventplanner/obj/Debug/App.g.i.cs
EventPlanner/Eventplanner/Eventplanner/obj/Debug/
EventPlanner/Eventplanner/Eventplanner/Properties/
EventPlanner/Eventplanner/DataAccess/obj/
EventPlanner/Eventplanner/.vs/Eventplanner/v17/TestStore/0/000.testlog
EventPlanner/Eventplanner/.vs/Eventplanner/v17/TestStore/0/testlog.manifest
EventPlanner/Eventplanner/MSTest/bin/
*.dll
EventPlanner/Eventplanner/MSTest/
